html{
  font-family: 'Open Sans', sans-serif !important;
}
body{

  background-color: #F3F4F5  ;

}
.text-blue
{
color:#0080CC;
}
.notificationsfont
{
font-size: 70px;
color:#C6CED2;
}
.notification h2
{
width:90%;
}
.closeicon
{
position:absolute;
right:15px;
top:30px;
}
.read{
background-color: #E6E9EB;
}
.deletebtn
{
padding:10px 35px;
border-radius: 100px;

}
.curved-card
{
border-radius: 15px;
}
.hidden
{
display: none;
}
.mycard
{
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0, 0, 0, 0.125);
}
.registerbox
{
margin:7% auto;
width:700px;
position: relative;
}
.loginbox
{
margin:9% auto;
 width:600px;
 position: relative;
}
.curved-form-login
{
border-radius: 40px !important;
padding-left:40px !important;
padding-top:12px;
padding-bottom: 12px;
/* margin-bottom: 40px; */
}
.curved-form-login[placeholder]
{
color: #17394c;
font-size: 20px;
font-weight: lighter;
}
.loginformbutton
{
background:#28a745;
border: none;
border-radius: 50px;
padding: 12px 40px !important;
font-size: 20px;
font-weight: bold;
}
label.btn input
{
visibility: hidden;
display: none;
}
.styleheading
{
border-bottom:3px solid #0080CC;
}
.circle
{
	border-radius: 50%;
  border-color: #0080CC;
	width: 9px;
	height: 9px;
  position:absolute;
  right:10px;
  bottom:5px;
  background: #0080CC;
	/* width and height can be anything, as long as they're equal */
}
.text-small
{
font-size:20px;
}
.text-blog-content
{
font-size:16px;
  line-height: 2.8rem;
}
.text-light-color
{
color:#CCCCCC;
}
.tagcloudcontainer svg{
width:100% !important;
}

.noborder
{
border:none;
}
.extra-light-text
{
font-weight: 100;
}
.ultra-light-text
{
font-weight: 200;
}
.light-text
{
font-weight: 300;
}
.bold-text
{
font-weight: 400;
}
.semi-bold-text
{
font-weight: 500;
}
.super-bold-text
{
font-weight: 600;
}
/*  */

/* svg {
	width: 100%;
	height: 100%;

}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.labelValue
{
	font-size: 60%;
	opacity: .5;

} */

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
text {
  font: 12px sans-serif;
}
/*  */
.bottom-border
{
border-bottom:2px solid #cccccc;
}
.img-thumbnail
{
border-radius: 50%;
}
.cursor-pointer:hover
{
cursor: pointer;
}

.dropdown-menu
{
position: absolute !important;
right:0px;
left:auto;
}
.navbar-brand
{
margin-right: 0px;
}
.main-menu li
{
margin-left:25px;
padding: 2px 8px;
border-radius: 4px;
}
.main-menu li:hover, .activemenu
{
background-color: #45606f;
}
.main-menu li:first-child{
margin-left: 0px !important;
}
.main-menu li a{
font-size: 16px;
line-height: 16px;
color: #ffffff;
font-weight: bold;
}
.main-menu2 li a .far, .main-menu2 li a .fab, .main-menu2 li a .fas
{
margin-right:4px;
margin-top: -3px
}
.main-menu2 li
{
margin-left:15px;
padding: 2px 8px;
border-radius: 4px;
}
.text-white
{
color:#ffffff;
}
.homebutton
{
border-radius: 100px;
}
.home-top
{
  background: #0a394e; /* Old browsers */
  background: -moz-linear-gradient(top, #0a394e 0%, #004858 41%, #00515f 63%, #005d67 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0a394e 0%,#004858 41%,#00515f 63%,#005d67 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0a394e 0%,#004858 41%,#00515f 63%,#005d67 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a394e', endColorstr='#005d67',GradientType=0 ); /* IE6-9 */
}
.main-menu2 li:hover, .activemenu
{
background-color: #45606f;
}
.main-menu2 li:first-child{
margin-left: 0px !important;
}
.main-menu2 li a{
font-size: 20px;
line-height: 20px;
color: #ffffff;
font-weight: bold;
}
a:hover
{
text-decoration: none;
color:blue;
}
.link{
color:darkblue;
}
.opacity53
{
opacity: 0.53;
}
.nobordertopleft
{
  border-top-left-radius:0px !important;
}
.nobordertopright
{
border-top-right-radius:0px !important;
}
.noborderbottomright
{
  border-bottom-right-radius:0px !important;
}
.noborderbottomleft
{
  border-bottom-left-radius:0px !important;
}
.blogbrowsersearch:focus, .blogbrowsersearch
{
border: none;
border-color:transparent;
-webkit-appearance:none;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}
.nobackground, .blogbrowsersearch:focus
{
background:none;
background-color: transparent;
}
.blogbrowsersearch::placeholder, .blogbrowsersearch
{
color:#45606F !important;
font-size: 60px !important;
line-height: 60px;
font-weight: bold;
}
.iconbig2
{
font-size: 20px;
}
.iconbig3
{
font-size: 27px;
}
.navbar-nav > .dropdown-user img
{
max-height: 45px;
/* padding:0.1rem; */
/* border: 2px solid #fff; */
border-radius: 50%;
}
.profilesection img{
max-height: 60px;
border-radius: 50%;
}
.top10
{
top:250px;
}
.bolder{
font-weight: bolder;
}
#profilesection
{
background: black;
}
#notificationcount
{
  background:#FF7E7E ;
  position:absolute;
  border-radius: 100px;
  right:30px;
  color:#ffffff;
  padding:12px 12px;
  font-size: 16px;

}
.activebar
{
  background:#0080CC;
}
.activebar h6, .activebar h2
{
color:#ffffff;
}
.textblue
{
  color:#0080CC;
}
.profilemenulink h3:hover
{
opacity: 0.53!important;
}
#closeicon
{
position:absolute;
background: #ffffff;
border-radius: 100px;
right:45px;
top:10px;
}
#closeicon i
{
  font-size: 40px;
  color:#FF7E7E;
}

.dropdown-menu a.dropdown-toggle
{
display: none;
}
#notificationcolor
{
  color:#FF7E7E;
  font-size: 12px;
  position: absolute;
  left:35px;
}
.modal-notifications
{
width:100%;
height:100%;
position:fixed;
z-index:999;
background: rgba(0,0,0,0.10);
transform: translate(8500px,0px);
transition:  1.35s ease-in-out;
}
.notificationpanel
{
background: rgba(226,231, 233);
width:100%;
height:1000px;
z-index:1000;
}
/* .dropdown-toggle::after
{
      content: "\f13a";
}
*/
.navbar-nav > .dropdown-user a span, .navbar-nav > .dropdown-user .dropdown-toggle::after
{
color:#ffffff;
}
.navbar-nav > .dropdown-user a span
{
font-weight: bold;
}
.top-border
{
border-top:2px solid #cccccc;
}
.stylesearch
{
border:2px solid #17394C;
border-radius:15px;
padding: 0.375rem 0.75rem !important;
}
.stylebuttonactive
{
border-radius:15px;
color: #ffffff !important;
}
.stylebuttoninactive
{
  border:2px solid #17394C;
  border-radius:15px;
  padding: 0.375rem 0.75rem !important;
}
.scrolly{
  overflow-y:scroll;
}
.bottom-border
{
border-bottom:2px solid #cccccc;
}
.border-none
{
border:none;
}
.navbar
{
min-height: 30px;
}
.navbar .navbar-brand
{
padding-top: 0;
padding-bottom: 0;
}
.breadcrumb
{
background-color:transparent;
padding-left: 0;
padding-right:0;
margin-bottom: 0px;
}
.breadcrumb a
{
font-weight: 700;
}
.btn-rounded
{
border-radius: 100px;
padding: 8px 10px;
}
.borderradiusround
{
border-radius:10px;
}
.fa,
.fas,
.far,
.fal,
.fab {
    /* font-family: 'icomoon'; */
    speak: none;
    line-height: 1;
    min-width: 1em;
    text-align: center;
    /* font-size: 16px; */
    vertical-align: middle;
    position: relative;
    top: 0px;
  }
  .stickyoptions
  {
  width:50px;
  line-height:50px;
  position: absolute;
  right:-100px;
  }
  .heading-element
  {
  min-height:60px;border:inherit; border-radius:inherit; border-bottom-left-radius:0px; border-bottom-right-radius:0px;
  }
  .analytics-title
  {
  width:70%;
  min-height:66px;
  font-size:21px;
  }
.stylebutton1
{
font-size: 0.7rem;
border-radius: 100px;
padding: 0.19rem 0.75rem;
font-weight: 700;
}
.stylebutton3
{
font-size: 0.7rem;
border-radius: 10px;
padding: 0.19rem 0.75rem;
font-weight: 700;
}
.stylebutton5
{
font-size: 0.9rem;
border-radius: 10px;
padding: 0.19rem 0.75rem;
font-weight: 700;
background: #f2f4f5;
}
.stylebutton6
{
font-size: 0.9rem;
border-radius: 10px;
padding: 0.19rem 0.75rem;
font-weight: 700;
background: #f4faf6;
}

.stylebutton4
{
  font-size: 0.7rem;
  border-radius: 10px;
  padding: 0.19rem 1.2rem;
  font-weight: 700;
  background-color:#44AF69 !important;
  border-color:#44AF69 !important;
}
.linktextsize
{
font-size: 12px;
}
.linktextsize i
{
font-size: 11px;
}
.icon-big
{
font-size: 26px;
}
.icon-small
{
font-size: 20px;
}
.light-text
{
color:#c1c1c1;
}
ul.profilemenu
{
padding:0;
}
ul.profilemenu li
{
border-bottom: 1px solid #cccccc;
padding: 8px 0px 8px 8px;
}
ul.profilemenu li a{
text-transform: capitalize;
}
ul.profilemenu li:last-child
{
border:none;
}
.stylebutton2
{
font-size: 0.7rem;
border-radius: 10px;
padding: 0.19rem 0.75rem;
font-weight: 700;
border:2px solid #17394C;
background: none;
color:#17394C;
}
/*margin  */
.m0
{
margin:0px;
}
.m5
{
margin:5px;
}
.m10
{
margin:10px;
}
.m20
{
margin: 20px;
}
.m30
{
margin: 30px;
}
.m40
{
margin:40px;
}
.m50
{
margin:50px;
}
.m60
{
margin:60px;
}
.m70
{
margin:70px;
}
.m80
{
margin:80px;
}
.m90
{
margin:90px;
}
.m100
{
margin:100px;
}

/* margin-top */
.mt0
{
margin-top:0px;
}
.mt5
{
margin-top:5px;
}
.mt10
{
margin-top:10px;
}
.mt15
{
margin-top:15px;
}
.mt20
{
margin-top: 20px;
}
.mt30
{
margin-top:30px;
}
.mt40
{
margin-top:40px;
}
.mt50
{
margin-top:50px;
}
.mt60
{
margin-top:60px;
}
.mt70
{
margin-top:70px;
}
.mt80
{
margin-top:80px;
}
.mt90
{
margin-top:90px;
}
.mt100
{
margin-top:100px;
}
/*  margin top*/
/*  margin bottom*/
.mb0
{
margin-bottom:0px;
}
.mb5
{
margin-bottom:5px;
}
.mb10
{
margin-bottom:10px;
}
.mb20
{
margin-bottom: 20px;
}
.mb30
{
margin-bottom: 30px;
}
.mb40
{
margin-bottom:40px;
}
.mb50
{
margin-bottom:50px;
}
.mb60
{
margin-bottom:60px;
}
.mb70
{
margin-bottom:70px;
}
.mb80
{
margin-bottom:80px;
}
.mb90
{
margin-bottom:90px;
}
.mb100
{
margin-bottom:100px;
}
/*  end of margin bottom*/

/*margin  */
.p0
{
padding:0px;
}
.p5
{
padding:5px;
}
.p10
{
padding:10px;
}
.p15
{
padding:15px;
}
.p20
{
padding: 20px;
}
.p30
{
padding: 30px;
}
.p40
{
padding:40px;
}
.p50
{
padding:50px;
}
.p60
{
padding:60px;
}
.p70
{
padding:70px;
}
.p80
{
padding:80px;
}
.p90
{
padding:90px;
}
.p100
{
padding:100px;
}

/* padding-top */
.pt0
{
padding-top:0px;
}
.pt5
{
padding-top:5px;
}
.pt10
{
padding-top:10px;
}
.pt20
{
padding-top: 20px;
}
.pt30
{
padding-top: 30px;
}
.pt40
{
padding-top:40px;
}
.pt50
{
padding-top:50px;
}
.pt60
{
padding-top:60px;
}
.pt70
{
padding-top:70px;
}
.pt80
{
padding-top:80px;
}
.pt90
{
padding-top:90px;
}
.pt100
{
padding-top:100px;
}
/*  margin top*/
/*  margin bottom*/
.pb0
{
padding-bottom:0px;
}
.pb5
{
padding-bottom:5px;
}
.pb10
{
padding-bottom:10px;
}
.pb20
{
padding-bottom: 20px;
}
.pb30
{
padding-bottom: 30px;
}
.pb40
{
padding-bottom:40px;
}
.pb50
{
padding-bottom:50px;
}

.pb60
{
padding-bottom:60px;
}
.pb70
{
padding-bottom:70px;
}
.pb80
{
padding-bottom:80px;
}
.pb90
{
padding-bottom:90px;
}
.pb100
{
padding-bottom:100px;
}
/*  end of margin bottom*/

.border-top-bottom
{
border-top:2px solid #cccccc;
border-bottom:2px solid #cccccc;
}

/*  default style for input box */
.inputboxstyle
{
border:2px solid #cccccc;
border-radius:15px;
}
/*  default style for input box */
body {
 scrollbar-face-color: #000000;
 scrollbar-shadow-color: #2D2C4D;
 scrollbar-highlight-color:#7D7E94;
 scrollbar-3dlight-color: #7D7E94;
 scrollbar-darkshadow-color: #2D2C4D;
 scrollbar-track-color: #7D7E94;
 scrollbar-arrow-color: #C1C1D1;
}

::-webkit-scrollbar {
   width: 4px;
}
::-webkit-scrollbar {
height: 3px;
}
::-webkit-scrollbar-track {
   background-color:#cccccc ;
   border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
   background-color:#434c5e;
 border-radius:50px;
}
::-webkit-scrollbar-thumb:hover {
 background-color: #434c5e;
}
div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
/* card layout defined */
.card-style{
border-radius:8px;
-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
}
.big-btn
{
background-color: #ffffff;
-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
padding:15px 15px;
}
.big-btn i
{
font-size: 28px;
color: #fcab10 !important;
}

.big-btn2
{
background-color: #ffffff;
-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.83);
padding:15px 15px;
}
.big-btn2 i
{
font-size: 28px;
color: #fcab10 !important;
}
.analytics-button
{
position: absolute;
right:25px;
top:35px;
display: inline-block;
}
.analytics-button2
{
position: relative;
/* right:25px;
top:35px; */
display: inline-block;
}
#reportrange, #custom
{
font-weight: 700;
}
#reportrange:hover, #custom:hover
{
cursor: pointer;
}

footer p{
color: #ffffff;

}
footer
{
position: fixed;
bottom:0;
width: 100%;
}
.mobile-menu li a
{
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  font-weight: bold;
}
.mobile-menu li
{
padding: 15px 10px;
}
.mobile-menu li:hover, .activemenu
{
background-color: #45606f;

}


/* New d3 bar chart */
.d3-axis-strong path, .d3-axis-strong line {
    stroke: #ccc;
}
.d3-axis path
{    fill: none;
    stroke: #999999;
    shape-rendering: crispEdges;
}
.d3-tip {
  position: absolute;
  padding: 9px 18px;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  margin-bottom: -3px;
  font-size: 12px;
  z-index: 1070;
}
.d3-axis path {
  fill: none;
  stroke: #999999;
  shape-rendering: crispEdges;
}
.d3-axis line {
  stroke: #eeeeee;
  shape-rendering: crispEdges;
}
.d3-axis .tick,
.d3-axis .tick text {
  font-size: 11px;
  fill: #333333;
}
.d3-axis-solid path,
.d3-axis-solid line {
  stroke: #ccc;
}
.d3-axis-solid .tick {
  fill: #999999;
}
.d3-axis-solid .tick text {
  fill: #999999;
}
.d3-axis-strong path,
.d3-axis-strong line {
  stroke: #ccc;
}
.d3-axis-strong .tick {
  fill: #333333;
}
.d3-axis-strong .tick text {
  fill: #333333;
}
.d3-axis-transparent path {
  stroke: none;
}
.d3-axis-transparent line {
  stroke: #e5e5e5;
}
.d3-axis-transparent .tick {
  fill: #999999;
}
.d3-axis-transparent .tick text {
  fill: #999999;
}
.d3-tip {
  position: absolute;
  padding: 9px 18px;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  margin-bottom: -3px;
  font-size: 12px;
  z-index: 1070;
}
.venntooltip {
  position: absolute;
  text-align: center;
  min-width: 60px;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border-radius: 3px;
  display: none;
}
.d3-line {
  fill: none;
}
.d3-line-thin {
  stroke-width: 1px;
}
.d3-line-medium {
  stroke-width: 1.5px;
}
.d3-line-strong {
  stroke-width: 2px;
}
.d3-line-circle {
  fill: none;
  cursor: pointer;
}
.d3-line-circle-thin {
  stroke-width: 1px;
}
.d3-line-circle-medium {
  stroke-width: 1.5px;
}
.d3-line-circle-strong {
  stroke-width: 2px;
}
.d3-grid .tick line {
  stroke-width: 1px;
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
}
.d3-grid .tick text {
  fill: #333333;
  stroke: none;
}
.d3-grid-dashed .tick {
  stroke-dasharray: 4,2;
  stroke-width: 1px;
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
}
.d3-grid-dashed path {
  stroke-width: 0;
}
.d3-crosshair-overlay {
  fill: none;
  pointer-events: all;
}
#menutoggle
{
position: absolute;
z-index: 1;
}

.jvectormap-zoomin:hover, .jvectormap-zoomout:hover {
    background-color: #455A64;
}

.jvectormap-zoomin {
    top: 10px;
}
.jvectormap-zoomout {
    top: 40px;
}
.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    border-radius: 2px;
    padding: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    line-height: 10px;
    background-color: #37474F;
    text-align: center;
}
.map-container {
    height: 450px;
}
.jvectormap-label {
    position: absolute;
    display: none;
    border-radius: 2px;
    font-size: 12px;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
}
.profilenavbar
{
min-height:100px;
}
.profilepageimg
{
  position:relative;
  margin-top:-90px;
  border-radius:100px !important;
  border:3px solid #ffffff;
}
/* Mobile Reponsive Section */
@media (min-width:300px) and (max-width:860px){
  /* LogIn Section  */
.loginformbutton
{
padding: 8px 16px !important;
/* font-size:12px;  */
}
.loginbox, .registerbox
{
 width:400px;
}
.othersection
{
display: none !important;
}
/* end of login section */
.themainmenu
{
display: none !important;
}
.card-columns .card {

    width: 100% !important;
}


}
